@import "../../../sass/variables";


.background {
    background-color: black;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardContainer {
    width: 1032px;

    margin-top: 32px;
    margin-bottom: 36px;
    margin-left: 79px;
    margin-right: 81px;
}

.heroContainer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.titleName {
    color: white;
}

.textName {
    color: white;
}

.iconContainer {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    background-image: $mainGradient;
}

.iconAdd {
    width: 24px;
    height: 24px;
}

.middleContainer {
    width: 1032px;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
}