@import '../../../sass/variables';


.headerContainer {
    background: $headerBackground;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar {
    width: 176px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuItem {
    display: flex;
    padding: 15px 20px;
    width: 176px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
        background-image: $mainGradient;
    }
}

.icon {
    width: 24px;
    height: 24px;
}

.menuItem p {
    margin-left: 18px;
    font-weight: 300;
    line-height: 24px;
    color: $mainTextColor;
}

.profileContainer {
    display: flex;
    align-items: center;
    margin-left: 41px;
    margin-bottom: 54px;
}

.iconProfile {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: white;
}

.profileName {
    margin-left: 12px;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 700;
    color: $mainTextColor;
    line-height: 24.38px;
}

.iconInfoProfile {
    width: 16px;
    height: 16px;
}