@import "../../../../../sass/variables";

.chartBudget {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    fill: white;
}

.chartText {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    fill: white;
}

.basicBackground {
    background-color: $mainColor;
}