// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1240px;

// Colors
$mainTextColor: #F0F0F0;
$headerBackground: #1B1B23;
$dashboardBackground: #13151C;
$buttonAuthBackground: #272530;
$mainColor: #8067C8;
$transactionHoverBackground: #8067C866;
$barColor: #22222E;
$incomeColor: #19C1B7;
$outcomeColor: #4151DC;
$fallbackBackgroundColor: darkred;
$modalOverlay: #0D0E0ECC;


// Gradients
$startMainGradient: #2F218C;
$endMainGradient: #4F147F;
$mainGradient: linear-gradient(90deg, #2F218C 0%, #4F147F 100%);
$borderGradient: linear-gradient(to bottom, #ff0000, #0000ff);
$dashboardGradient: linear-gradient(0deg, #101116 -4.81%, #181921 104.81%);

// Shadows
$mainShadow: 0px 4px 4px 0px #00000014;
$searchShadow: 0px 1px 4px 0px #19213D14;


// Exports
:export {
    startMainGradient: $startMainGradient;
    endMainGradient: $endMainGradient;
    mainTextColor: $mainTextColor;
    incomeColor: $incomeColor;
    outcomeColor: $outcomeColor;
}