// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1240px;

// Colors
$whiteColor: #fff;
$inputTextColor: #F0F0F0;
$buttonAuthBackground: #272530;
$mainColor: #8067C8;



// Gradients
$mainGradient: linear-gradient(90deg, #2F218C 0%, #4F147F 100%);

// Exports
:export {}