@import "../../../../sass/variables";

.contentBackground {
    background: $dashboardGradient;
    box-shadow: $mainShadow;

    border-radius: 6px;
    padding: 16px;
}


.categoriesContainer {
    width: 331px;
    height: 335px;
}


.categoriesListContainer {
    scrollbar-color: $mainColor transparent;
}