@import '../../sass/variables';

.loginContainer {
    width: 322px;
}

.loginHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;

    h1 {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
    }

    p {
        font-weight: 300;
        line-height: 24px;
    }
}

// Utilizing SCSS mixins or extends for repeated styles could further improve this
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    padding: 12px;
    border-radius: 6px;
    color: $mainTextColor;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

.mainLogin {
    background: $mainGradient;
}

.iconGoogle {
    width: 16px;
    height: 16px;
    margin-right: 14px;
}

.altLoginContainer {
    display: flex;
    flex-direction: column;
}

.altLoginText,
.navText {
    align-self: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.altLoginText {
    margin-bottom: 18px;
}

.googleLogin {
    background-color: $buttonAuthBackground;
}

.loginFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navText:first-child {
    margin-bottom: 42px;
}

.navLink {
    color: $mainColor;
    margin-left: 6px;

    &:hover {
        text-decoration: underline;
    }
}