@import "../../../../sass/variables";

.contentBackground {
    background: $dachboardGradient;
    box-shadow: $dashboardShadow;

    border-radius: 6px;
    padding: 16px;
}


.analyticsContainer {
    // margin-left: 25px;
    width: 667px;
    height: 333px;
}

.titleContainer{
    margin-bottom: 21px;
}

.flex{
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.title{
    font-weight: 600;
    line-height: 24px;
}

.text{
    font-weight: 300;
    line-height: 21px;
}

.iconContainer{
    margin-left: 32px;
}

.icon{
    width: 9px;
    height: 9px;

    margin-right: 16px;

    border-radius: 10px;
}

.iconIncome{
    background-color: $incomeColor;
}

.iconOutcome{
    background-color: $outcomeColor;
}

.charText{
    font-size: 12px;
    font-weight: 300;
    line-height: 18;

    color: $mainTextColor;
}