@import '../../../sass/variables';

.loginForm {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 18px;
    padding: 12px;
    border-radius: 6px;
    background-color: $buttonAuthBackground;
    font-weight: 300;
    line-height: 24px;
    color: $mainTextColor;

    &::placeholder {
        font-weight: 300;
        line-height: 24px;
        color: $mainTextColor;
    }
}

.checkboxContainer {
    margin-bottom: 18px;
    display: flex;
    align-items: center;

    input {
        width: 22px;
        height: 22px;
    }

    label {
        margin-left: 12px;
        font-weight: 700;
        line-height: 16.94px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    padding: 12px;
    border-radius: 6px;
    color: $mainTextColor;
    background: $mainGradient;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

.mainLogin {
    background: $mainGradient;
}