@import '../../sass/variables';

.loginContainer {
    width: 322px;
}

.loginHeader,
.loginFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px; // Footer margin-top is handled separately

    h1 {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
    }

    p {
        font-weight: 300;
        line-height: 24px;
    }
}

.loginFooter {
    margin-top: 42px;
}

.navText {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    &:first-child {
        margin-bottom: 42px;
    }
}

.navLink {
    color: $mainColor;
    transition: color 0.3s;

    &:hover {
        color: darken($mainColor, 10%);
    }
}