@import '../../sass/variables';


.loginContainer {
    width: 322px;
}

.icon {
    width: 144px
}

.loginHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 42px;
}

.loginHeader h1 {
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: $inputTextColor;
}

.loginHeader p {
    font-weight: 300;

    line-height: 24px;
    color: $inputTextColor;
    ;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 18px;

    padding: 12px;
    border-radius: 6px;
    background-color: $buttonAuthBackground;

    font-weight: 300;
    line-height: 24px;
    color: $inputTextColor;
}

.input::placeholder {
    font-weight: 300;
    line-height: 24px;
    color: $inputTextColor;
}

.inputLink {
    margin-left: auto;
    margin-bottom: 18px;

    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $inputTextColor;
}

.checkboxContainer {
    margin-bottom: 18px;

    display: flex;
    // justify-content: center;
    align-items: center;
}

.checkboxContainer input {
    width: 22px;
    height: 22px;
}

.checkboxContainer label {
    margin-left: 12px;
    font-weight: 700;
    line-height: 16.94px;
    color: $inputTextColor;
}

.button {
    margin-bottom: 18px;

    padding: 12px;
    border-radius: 6px;
    color: $inputTextColor;
}

.button:hover {
    opacity: 0.8;
}

.mainLogin {
    background: $mainGradient;
}

.altLoginText {
    align-self: center;
    // margin-bottom: 18px;

    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $inputTextColor;
}

.googleLogin {
    background-color: $buttonAuthBackground;
}

.loginFooter {
    margin-top: 42px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navText {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $inputTextColor;
}

.navText:first-child {
    margin-bottom: 42px;
}

.navLink {
    color: $mainColor;
}