@import './sass/scrollBar.module';
@import './sass/fontStyles';
@import './sass/variables';

w3m-modal {
  zoom: 90%;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
  color: $mainTextColor;
}

* {
  box-sizing: border-box;
  font-family: Mariupol, sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  outline: none;
}

input {
  outline: none;
  margin: 0;
  border: none;
}

input ::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input::-ms-clear {
  display: none;
}

input[type='number'] {
  appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

h1.descktop {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
}

h2.descktop {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

h3.descktop {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

h4.descktop {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

h5.descktop {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.06em;
}

h6.descktop {
  font-family: 'Artegra Sans Extended';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.06em;
}

p.descktop {
  font-family: Mariupol;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
}